<form [formGroup]="form">

  <div class="form-group">
    <label for="inputId">Código</label>
    <input type="text" class="form-control" disabled id="inputId" formControlName="id">
  </div>

  <div class="form-group">
    <label for="inputNome">Nome</label>
    <input type="text" class="form-control" id="inputNome" formControlName="nome">
  </div>

  <div class="form-group">
    <label for="inputTipo">Tipo</label>
    <input type="text" class="form-control" id="inputTipo" formControlName="tipo">
  </div>

  <div class="form-group">
    <label for="inputValor">Valor</label>
    <input type="text" class="form-control" id="inputValor" formControlName="valor">
  </div>

  <div class="form-group">
    <label for="inputData">Data</label>
    <input type="text" class="form-control" id="inputData" formControlName="data">
  </div>

  <div class="form-group">
    <label for="inputCategoria">Categoria</label>
    <input type="text" class="form-control" id="inputCategoria" formControlName="categoria">
  </div>

  <button type="button" class="btn btn-sm btn-primary" (click)="salvar();">
    <i class="fas fa-save"></i> Salvar
  </button>

  <button *ngIf="lancamento && lancamento.id" type="button" style="float: right;" class="btn btn-sm btn-danger" (click)="remover();">
    <i class="fas fa-trash"></i> Remover
  </button>

</form>
